<div class="container text-center">
<h2>Founding</h2>
</div>
<br>
<div class="container">
<p>The original founders of Roadkill Records were Brandon Boggs, Ryan Steward, and Brian Carter. The studio opened up in
2002 in Grant Florida when producer/musician Brandon Boggs met an older gentleman named Daniel Ade.
Daniel had his own studio that he had built himself and some of the local talent would hang around and listen to Dan record or perform.
Brandon Boggs was interested in learning how to produce and wanted to build his own production startup. 
In 1997, Brandon recorded his first single called "Placid on Acid" and played guitar while a local singer, named John Lewis was on vocals. 
The song only had 4 different tracks with some VST effects but back in 1996 it was pretty taxing on a computer hard drive and processor 
to have multiple tracks playing back at the same time with added effects on multiple tracks.</p>




</div>