        /*
         * This is a manifest file that'll be compiled into application.css, which will include all the files
         * listed below.
         *
         * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
         * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
         *
         * You're free to add application-wide styles to this file and they'll appear at the bottom of the
         * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
         * files in this directory. Styles in this file should be added after the last require_* statement.
         * It is generally better to create a new file per style scope.
         *
         *= require_tree .
         *= require_self
         */
        
        @import 'bootstrap-sprockets';
        @import 'bootstrap';
        @import 'font-awesome-sprockets';
        @import 'font-awesome';
        
        h1, h2, h3 {
         font-family: 'Open Sans' sans-serif;
}
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-brand:hover {
    color: gray;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover {
    color: gray;
}

// Nav Styles
.navbar {
    border: none;
}
     
.navbar-brand {
    font-family:"Open Sans" , sans-serif;
    font-weight: 800;
}

      
.bl-txt {
    color: black;
}
.underline-txt {
    text-decoration: underline;
}
     
.navbar, .home-callout {
  background: rgba(113,93,91,1);
    background: -moz-linear-gradient(left, rgba(113,93,91,1) 0%, rgba(113,93,91,1) 13%, rgba(238,32,39,1) 15%, rgba(213,35,32,1) 61%, rgba(212,28,49,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(113,93,91,1)), color-stop(13%, rgba(113,93,91,1)), color-stop(15%, rgba(238,32,39,1)), color-stop(61%, rgba(213,35,32,1)), color-stop(100%, rgba(212,28,49,1)));
    background: -webkit-linear-gradient(left, rgba(113,93,91,1) 0%, rgba(113,93,91,1) 13%, rgba(238,32,39,1) 15%, rgba(213,35,32,1) 61%, rgba(212,28,49,1) 100%);
    background: -o-linear-gradient(left, rgba(113,93,91,1) 0%, rgba(113,93,91,1) 13%, rgba(238,32,39,1) 15%, rgba(213,35,32,1) 61%, rgba(212,28,49,1) 100%);
    background: -ms-linear-gradient(left, rgba(113,93,91,1) 0%, rgba(113,93,91,1) 13%, rgba(238,32,39,1) 15%, rgba(213,35,32,1) 61%, rgba(212,28,49,1) 100%);
    background: linear-gradient(to right, rgba(113,93,91,1) 0%, rgba(113,93,91,1) 13%, rgba(238,32,39,1) 15%, rgba(213,35,32,1) 61%, rgba(212,28,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#715d5b', endColorstr='#d41c31', GradientType=1 );
}

.navbar-default .navbar-toggle .icon-bar {
background-color: white;
} 

.navbar-default .navbar-toggle {
    border: 2px solid white;
    &:hover, &:focus {
        background-color: #ff3333;
    }
}



// Home Page Styles
.home-callout {
  position: relative;
  color: gray;
    min-height: 50px;
    margin-top: -20px;
}
 h4 {
     color: white;
     margin-bottom: 50px;
}
